nav {
  background-color: white;
  text-align: right;
  padding-right: 20px; }
  nav a {
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 5px; }
    nav a:hover {
      background-color: yellow;
      background-size: 2px; }

body {
  background-color: #a7a7ee; }

#titulo_principal {
  color: white;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }
  #titulo_principal:hover {
    background-size: 100% 2px; }
