nav{
    background-color: white;
    text-align: right;
    padding-right: 20px;
    a{
        font-family:sans-serif;
        font-size:18px ;
        text-decoration: none;
        color: black;
        padding: 5px;
        &:hover{
            background-color: yellow;
            background-size: 2px;
           }
        }
    }